<?php require_once("views/layouts/header.phtml") ?>
<div class="page-header">
    <h1>Paciente</h1>
    <label class="text-muted">Reporte</label>
    <hr class="divider">
</div>
<div class="row">
    <div class="col-2 border border-second"><b>Nombres</b></div>
    <div class="col-2 border border-second"><b>Apellidos</b></div>
    <div class="col-2 border border-second"><b>Numero de documento</b></div>
    <div class="col-2 border border-second"><b>Ciudad de residencia</b></div>
    <div class="col-2 border border-second"><b>Dirección</b></div>
    <div class="col-2 border border-second"><b>Teléfono</b></div>
</div>
<div class="row">
    <?php foreach($data as $row){?>
    <div class="col-2 border border-second"><?=$row["firstname"]?></div>
    <div class="col-2 border border-second"><?=$row["lastname"]?></div>
    <div class="col-2 border border-second"><?=$row["document_type"]." ".$row["document"]?></div>
    <div class="col-2 border border-second"><?=$row["city"]?></div>
    <div class="col-2 border border-second"><?=$row["address"]?></div>
    <div class="col-2 border border-second"><?=$row["phone"]?></div>
    <?php }?>
</div>
<div class="row">
    <div class="col-12 p-2 text center">
    <a class="btn btn-danger" href="/<?= PROJECT_URL ?>">Regresar</a>
    </div>
</div>

<?php require_once("views/layouts/footer.phtml") ?>