<?php require_once("views/layouts/header.phtml") ?>
<div class="page-header">
    <h1>Tratamiento</h1>
    <label class="text-muted">Reporte</label>
    <hr class="divider">
</div>
<div class="row">
    <div class="col-4 border border-second"><b>Nombre</b></div>
    <div class="col-4 border border-second"><b>Valor</b></div>
    <div class="col-2 border border-second"><b>Descuento</b></div>
    <div class="col-2 border border-second">Opciones</div>
</div>
<div class="row">
    <?php foreach($data as $row){?>
    <div class="col-4 border border-second"><?=$row["name"]?></div>
    <div class="col-4 border border-second"><?=$row["amount"]?></div>
    <div class="col-2 border border-second"><?=$row["discount"] ? "si":"no";?></div>
    <div class="col-2 border border-second"><a
            href="/<?= PROJECT_URL ?>/index.php/treatment/edit?id=<?=$row["id"]?>">Editar</a></div>
    <?php }?>
</div>
<div class="row">
    <div class="col-12 p-2 text center">
        <a class="btn btn-danger" href="/<?= PROJECT_URL ?>">Regresar</a>
    </div>
</div>

<?php require_once("views/layouts/footer.phtml") ?>