<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=PROJECT_NAME?></title>
    <link href='/<?=PROJECT_URL?>/public/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href="/<?=PROJECT_URL?>/public/css/sticky-footer.css" rel="stylesheet" type='text/css'>
</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
  <div class="container">
