<?php require_once("layouts/header.phtml") ?>


<div class="row p-3 mt-3 border border-secondary rounded">
    <div class='col-sm-4 col-xs-12'><h3>Pacientes</h3></div>
    <div class='col-sm-8 col-xs-12'>
        <a href="index.php/patients" class="btn btn-primary">Registro</a>
        <a href="index.php/patients/report" class="btn btn-primary">Reporte</a>
    </div>
</div>
<div class="row p-3 mt-3 border border-secondary rounded" >
    <div class='col-sm-4 col-xs-12'><h3>Tratamientos</h3></div>
    <div class='col-sm-8 col-xs-12'>
        <a href="index.php/treatment" class="btn btn-primary">Registro</a>
        <a href="index.php/treatment/report" class="btn btn-primary">Listar</a>
        <a href="#" class="btn btn-primary">Ingresos mensuales</a>
        <a href="index.php/treatmentapplied" class="btn btn-primary">Asignar</a>
    </div>
</div>
<?php require_once("layouts/footer.phtml") ?>