/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 860px;
  padding: 0 15px;
  margin-top:20px;
}

.footer {
  background-color: #f5f5f5;
}
