<?php require_once("views/layouts/header.phtml") ?>
<div class="page-header">
    <h1>Paciente</h1>
    <label class="text-muted">Registro</label>
    <hr class="divider">
</div>

<form action='/<?= PROJECT_URL ?>/index.php/patients/register' method="POST">
    <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Nombres</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Nombres" REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">Apellidos</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Apellidos" REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="document_type" class="col-sm-4 col-form-label">Tipo de documento</label>
        <div class="col-sm-8">
            <select name="document_type" id="document_type" class="form-control" REQUIRED>
                <option value="">Seleccione...</option>
                <option value="T.I.">T.I.</option>
                <option value="C.C.">C.C.</option>
                <option value="C.E.">C.E.</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="document" class="col-sm-4 col-form-label">Número de documento
        </label>
        <div class="col-sm-8">
            <input type="number" class="form-control" name="document" min='0' id="document" placeholder="Número de documento " REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="city" class="col-sm-4 col-form-label">Ciudad de residencia
        </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="city" id="city" placeholder="Ciudad de residencia" REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">Dirección
        </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="address" id="address" placeholder="Dirección" REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label">Teléfono
        </label>
        <div class="col-sm-8">
            <input type="number" min=0 class="form-control" name="phone" id="phone" placeholder="Teléfono" REQUIRED>
        </div>
    </div>
    <hr class='divider'>
    <div class="form-group row">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger" href="/<?= PROJECT_URL ?>">Cancelar</a>
        </div>
    </div>
</form>

<?php require_once("views/layouts/footer.phtml") ?>