<?php require_once("views/layouts/header.phtml") ?>
<div class="page-header">
    <h1>Aplicar tratamiento</h1>
    <label class="text-muted">Registro</label>
    <hr class="divider">
</div>

<form action='/<?= PROJECT_URL ?>/index.php/treatmentapplied/register' method="POST">
    <div class="form-group row">
        <label for="patients_id" class="col-sm-4 col-form-label">Paciente</label>
        <div class="col-sm-8">
            <select name="patients_id" id="patients_id" class="form-control" required>
            <option value="">Seleccione...</option>
                <?php foreach( $patientSelect as $row){?>
                <option value="<?=$row["id"]?>"><?=$row["document"].' - '.$row["firstname"]." ".$row["lastname"]?>
                </option>
                <?php }?>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="treaments_id" class="col-sm-4 col-form-label">Tratamiento</label>
        <div class="col-sm-8">
            <select name="treaments_id" id="treaments_id" class="form-control" required>
                <option value="">Seleccione...</option>
                <?php foreach( $treatmentsSelect as $row){?>
                <option value="<?=$row["id"]?>"><?=$row["name"]?>
                </option>
                <?php }?>
            </select>
        </div>
    </div>
    <hr class='divider'>
    <div class="form-group row">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger" href="/<?= PROJECT_URL ?>">Cancelar</a>
        </div>
    </div>
</form>

<?php require_once("views/layouts/footer.phtml") ?>