<?php require_once("views/layouts/header.phtml") ?>
<div class="page-header">
    <h1>Tratamiento</h1>
    <label class="text-muted">Registro</label>
    <hr class="divider">
</div>

<form action='/<?= PROJECT_URL ?>/index.php/treatment/register' method="POST">
<input type="hidden" name="id" value='<?=isset($data["id"])?$data["id"]:''?>'>
    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Nombre del tratamiento</label>
        <div class="col-sm-8">
            <input type="name" class="form-control" id="firstname" name="name" 
                placeholder="Nombres" value='<?=isset($data["name"])?$data["name"]:''?>' REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="amount" class="col-sm-4 col-form-label">Valor</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" min=0 id="amount" 
            value='<?=isset($data["amount"])?$data["amount"]:''?>' name="amount" placeholder="Valor" REQUIRED>
        </div>
    </div>
    <div class="form-group row">
        <label for="discount" class="col-sm-4 col-form-label">Aplica para descuentos? </label>
        <div class="col-sm-8">
            <input type="checkbox" class="form-check-input" name="discount" 
                value=true <?=isset($data["discount"])?'checked':''?>>
        </div>
    </div>
    <hr class='divider'>
    <div class="form-group row">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger" href="/<?= PROJECT_URL ?>">Cancelar</a>
        </div>
    </div>
</form>

<?php require_once("views/layouts/footer.phtml") ?>